{% extends 'MainApp/base.html' %}

{% block content %}
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search"/>
    </form>

    <br>
<br>
<table id="datatable" class="display" width="100%" cellspacing="0">
    <thead></thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
{% endblock %}

{% block script %}
    <script>
$(document).ready(function () {

  var url = '{{ url }}';
    $.ajax({
        url: url,
        dataType: 'json',
        success: function(jsonData) {
            $('#datatable').dataTable({
                data: jsonData,
                columns: [
                    { title: 'Track ID', data: 'trackId', defaultContent: 'Null'},
                    { title: 'Artist Name', data: 'artistName', defaultContent: 'Null'},
                    { title: 'Track Name', data: 'trackName', defaultContent: 'Null'},
                    { title: 'Release Date', data: 'releaseDate', defaultContent: 'Null'}
                ]
            });
        }
    });

    $('#datatable').on('mouseover', 'tbody tr', function() {
        $(this).css({
           'cursor': 'pointer',
            'color': 'blue'
        });
    })

    $('#datatable').on('mouseout', 'tbody tr', function() {
        $(this).css({
            'cursor': 'default',
            'color': 'inherit'
        });
    })

    $('#datatable').on( 'click', 'tbody tr', function() {
        var url = window.location.href;
        url += 'details/' + $(this).children(':first').text();
        window.location.assign(url);
    });


});
    </script>
{% endblock %}